.search {
  position:sticky;
  top: 20px;
  z-index: 6;
}

.search form {
  padding: 7px 8px;
  height: 40px;
  width: calc(100% - 32px);
  border-radius: 10px;  
  margin: 8px 16px 0 16px;
  display: flex;
  align-items: center;
  position: relative;
  background: #ffffff6b;
}

.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: rgba(0, 0, 11, 0.67);

}

.search input {
  width: 100%;
  height: 42px;
  color: rgb(8, 8, 8);
}

.search input::placeholder {
  color: rgba(0, 0, 11, 0.67);
}


.search input:target{
  background: linear-gradient(168.44deg, rgba(46, 51, 90, 0.26) 1.62%, rgba(28, 27, 51, 0.26) 95.72%);
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out;
}

.search_result {
  width: calc(100% - 32px);
  max-height: 100vh;
  position: absolute;
  top: 40px;
  left: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  background: rgba(8, 27, 51, 0.96);
  z-index: 34;
  /* padding: 0 12px 0 12px; */
  border-radius: 10px;
}

.light .search_result {
  background: linear-gradient(90deg, #598eca 0%, #3a26bd);
}

.search_result-item {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.search_result-item p {
  margin: 0 12px 0 12px;
}

.search_result-item:hover {
  background: rgb(44, 50, 177);
}