@import url(../../global-styles/variables.css);


.allcity_inner {
    padding: 20px;
    min-height: 100vh;
}

.widget{
    margin-top: 20px;
    position: relative;
    z-index: 3;
}

.shadow {
    position: absolute;
    top: 10px;
    left: -10px;
    width: 100%;
    height: 184px;
    border-radius: 30px;
    clip-path: polygon(9% 0, 100% 43%, 100% 100%, 0 100%, 0 0);
    background: var(--saved-city-shadow1-light-color);
    z-index: -1;
}

.shadow2 {
    position: absolute;
    top: 5px;
    left: -5px;
    background: var(--saved-city-shadow2-light-color);
    
}

.widget_inner {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 59px 4px 20px 20px;
    height: 184px;
    border-radius: 30px;
    clip-path: polygon(9% 0, 100% 43%, 100% 100%, 0 100%, 0 0);
    background: var(--saved-city-light-color);
}

.dark .widget_inner {
    color: black;
    background: var(--saved-city-dark-color);
}

.dark .shadow {
    background: var(--saved-city-shadow1-dark-color);
}

.dark .shadow2 {
    background: var(--saved-city-shadow2-dark-color);
}

.widget_delete{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 33;
}

.widget_delete svg {
    filter: drop-shadow(1px 1px 1px black);
}

.widget_image-desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    margin-right: 24px;
    text-align: right;
}

.widget_degree {
    font-weight: 400;
    font-size: 64px;
    line-height: 41px;
    letter-spacing: 0.374px;
}

.widget_max-min {
    margin-top: 24px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;    
    letter-spacing: -0.078px;
    opacity: 0.8;
}

.widget_city {
    margin-top: 5px;
    font-size: 18px;
}
