body{
  --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    max-width: 450px;
    min-width: 300px;
}

.App{
  position: relative;
  max-width: 450px;
  min-width: 300px;
}

