body{
  --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
}
.df{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfa{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.App{
  display: flex;
  justify-content: space-around;
}
.app_info_inner{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}