@import './global-styles/fonts.css';
@import './global-styles/normalize.css';
@import './global-styles/root.css';



body {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	color: var(--color-primary);
	background: var(--color-background); 
  }
  